[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
waitress = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-migrate = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
dev = "bash -c \"export FLASK_DEBUG=1 && export FLASK_ENV='development' && flask run\" " 
start = "waitress-serve app:app"
