{% extends 'base.html' %}
    
{% block content %}
<div class="container">
  <h1>Add a New Relic to the Database</h1>
    <form action="{{url_for('relics_handler')}}" method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">Relic Name</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="name_input">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" name="description" aria-describedby="description_input">
      </div>
      <div class="mb-3">
        <label for="flavor_text" class="form-label">Flavor Text</label>
        <input type="text" class="form-control" id="flavor_text" name="flavor_text" aria-describedby="flavor_text_input">
      </div>
      <div class="mb-3">
        <label for="conditions_for_spawning" class="form-label">Conditions for Spawning</label>
        <input type="text" class="form-control" id="conditions_for_spawning" name="conditions_for_spawning" aria-describedby="conditions_for_spawning_input">
      </div>

      <div class="container mb-3">
        <div class="row mb-3 ">
          <!-- Class Specific Relic -->
          <div class="col-4 border p-3 mx-1">
            <fieldset class="btn-group-vertical" role="group" aria-label="Radio button group"  >
              <label id="characterHelp" class="mb-1">Character Specific Relic</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="class_specific" id="flexRadioNone" checked>
                <label class="form-check-label" for="flexRadioNone">
                Non-specific
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="class_specific" id="flexRadioIronclad" >
              <label class="form-check-label" for="flexRadioIronclad">
                Ironclad
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="class_specific" id="flexRadioSilent" >
              <label class="form-check-label" for="flexRadioSilent">
                Silent
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="class_specific" id="flexRadioDefect" >
              <label class="form-check-label" for="flexRadioDefect">
                Defect
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="class_specific" id="flexRadioWatcher" >
              <label class="form-check-label" for="flexRadioWatcher">
                Watcher
              </label>
            </div>
           </fieldset >
          </div class="col-4">

          <!-- Relic Rarity -->
          <div class="col-4 border p-3 mx-1">
            <fieldset  class="btn-group-vertical" role="group" aria-label="Rarity Radio button group" >
            <label id="characterHelp" class="mb-1">Rarity</label>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="rarity" id="flexRadioCommon" checked>
              <label class="form-check-label" for="flexRadioCommon">
                Common
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="rarity" id="flexRadioUncommon" >
              <label class="form-check-label" for="flexRadioUncommon">
                Uncommon
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="rarity" id="flexRadioRare" >
              <label class="form-check-label" for="flexRadioRare">
                Rare
              </label>
            </div>
           
            <div class="form-check">
              <input class="form-check-input" type="radio" name="rarity" id="flexRadioSpecial" >
              <label class="form-check-label" for="flexRadioSpecial">
                Special
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="rarity" id="flexRadioStarter" >
              <label class="form-check-label" for="flexRadioStarter">
                Starter
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="rarity" id="flexRadioShop" >
              <label class="form-check-label" for="flexRadioShop">
                Shop
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="rarity" id="flexRadioBoss" >
              <label class="form-check-label" for="flexRadioBoss">
                Boss
              </label>
            </div>
          </fieldset >
          </div class="col-4">

        </div class="row">

      </div class="container">


      <button type="submit" class="btn btn-primary me-1 col-2">Submit</button>
      <a href="{{ url_for('catch_all') }}" class="btn btn-secondary me-1 col-2">Back</a>

  </form>

</div class="container">
{% endblock %}
